@model IEnumerable<_01_ASP_MVC.Models.Product>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-3">
                <a class="col-3" asp-action="Details" asp-route-id="@item.Id" style="display:block; width: 18rem;text-decoration: none;">
                    <img width="100" alt="@item.Image" src="~/images/products/@(item.Image ?? "default.png")" />
                    <div class="card-body" style="display:flex; flex-flow:column; color:black">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                </a>
            </div>


        }
    </div>
</div>
