@model _01_ASP_MVC.ViewModels.CreateProductVM


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Amount" class="control-label"></label>
                <input asp-for="Product.Amount" class="form-control" />
                <span asp-validation-for="Product.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Image" class="control-label"></label>
                <input type="file" name="File" class="form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>

            @if (!string.IsNullOrEmpty(Model.Product.Image))
            {
                <div class="form-group">
                    <label>Current Image:</label>
                    <br />
                    <img width="150" alt="@Model.Product.Name" src="~/images/products/@Model.Product.Image" />
                </div>
            }
            <div class="form-group">
                <label for="category" class="col-sm-2 col-form-label">Category</label>
                <select class="form-select" asp-for="Product.CategiryId" asp-items="@Model.Categories">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
